/* Show it's not fixed to the top */
body {
  min-height: 75rem;
}
.gradiated {
	background-image: linear-gradient(0deg, #080808, #252525);
}
.bg {
	background-image: linear-gradient(0deg, #333333, #796070);
}
.bluesky {
	background-image: linear-gradient(0deg, #7ec0ee, #474eeb);
}
